.middleground-picture {
  width: 100%;
  height: 35%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.middleground-picture .container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: radial-gradient(at top left, #353535, #575757);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  max-width: 100%;
}

.middleground-picture .container .title {
  margin: auto auto 5px;
  font-size: 1.5em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  text-align: center;
}

.middleground-picture .container .description {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.middleground-picture .container .description .sub_description {
  text-align: center;
  margin-bottom: 10px;
}

.middleground-picture .container .description .currency {
  font-size: 1.2em;
  margin: 0 auto 30px auto;
}

.middleground-picture .container .description .currency .account {
  font-size: 0.7em;
  background-color: #000000b3;
  border-radius: 1px;
  padding: 3px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: auto;
}

.middleground-picture .container .description .currency:last-of-type {
  margin-bottom: 0px;
}
