$accent_color: #b35000;
$accent_color_dark: #752c00;
$body_color: #4d4d4d;
$body_color_transparent: #00000024;

@font-face {
	font-family: Andika;
	src: url(/fonts/Andika.ttf);
}

body {
	background-color: #171717;
	margin: 0;
	font-family: Andika;
	height: 100vh;
}
a {
	color: #00dbff;
}

.text {
	color: white;
	font-size: 1em;
}

.middleground {
	height: 450px;
	width: 100%;
	overflow: hidden;
	box-shadow: inset 0 0 15px black;
	display: flex;
	position: relative;
	padding: 25px;
	box-sizing: border-box;
	background: linear-gradient(to bottom right, #2e3238, #171717);

	.background-profile-picture {
		position: relative;
		height: 100%;
		right: 25vw;

		img {
			position: absolute;
			margin: 0 10px 0 auto;
			height: 100%;
			width: auto;
			transform: scale(2);
		}
	}
	.title-container {
		margin: auto;
		width: 400px;
		display: flex;
		flex-direction: column;
		z-index: 1;

		.title {
			font-size: 3em;
			margin: auto;
		}
		.description {
			font-size: 1.5em;
			margin: auto;
		}
	}
}

.content {
	padding: 30px;
	box-sizing: border-box;
	background-color: #b35000;
	font-family: sans-serif, Verdana;

	.header {
		width: 50%;
		min-width: 500px;
		text-align: center;
		font-size: 2em;
		margin: 0 auto 10px;
	}

	.repo_home_preview {
		box-sizing: border-box;
		display: flex;
		width: min-content;
		margin: 0 auto;

		.repo_preview {
			background-color: #3c4044;
			margin: 0 15px;

			width: 250px;
			padding: 15px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			border-radius: 5px;

			.image_container {
				height: auto;
				width: 40%;
				margin: 0 auto 5px auto;

				img {
					width: 100%;
					height: auto;
				}
			}

			.title {
				margin: auto;
				font-size: 1.3em;
				text-align: center;
			}
		}
	}
}

.container {
	width: 100%;

	.description {
		padding: 15px;
		box-sizing: border-box;
		background-color: $accent_color;
		font-family: sans-serif, Verdana;
		text-align: center;
	}
}

.item-container {
	margin: auto;
	max-width: 600px;

	.item {
		display: flex;
		margin-bottom: 5px;
		text-align: initial;
		margin: auto;
		margin-bottom: 15px;
		background-color: #000000b3;

		.icon-container {
			font-size: 1.1em;
			padding: 15px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			margin-right: 10px;
			width: 7em;
			text-align: center;

			img {
				margin: 0 auto 5px;
				height: 1.5em;
			}
		}
		.item-link {
			font-size: 0.9em;
			word-break: break-all;
			width: 100%;
			padding: 15px;
			box-sizing: border-box;
			display: flex;

			span,
			a {
				margin: auto auto auto 0;
			}
		}
	}
	.item:last-of-type {
		margin-bottom: 0px;
	}
}

.content:nth-child(odd) {
	box-shadow: inset 0 0 5px black;
	background: linear-gradient(to bottom right, #2e3238, #171717);
}

@media only screen and (max-width: 700px) {
	.middleground {
		height: 350px;
		.title-container {
			.title {
				font-size: 2em;
			}
			.description {
				font-size: 1.2em;
			}
		}
		.background-profile-picture {
			right: 30vw;
			img {
				transform: scale(1.5);
			}
		}
	}
	.content {
		padding: 5px;

		.header {
			font-size: 1.5em;
			min-width: 100%;
		}
		.repo_home_preview {
			flex-direction: column;

			.repo_preview {
				margin-bottom: 10px;
				width: 200px;
			}
		}
	}
}
