@font-face {
  font-family: Andika;
  src: url(/fonts/Andika.ttf);
}

body {
  background-color: #171717;
  margin: 0;
  font-family: Andika;
  height: 100vh;
}

a {
  color: #00dbff;
}

.text {
  color: white;
  font-size: 1em;
}

.middleground {
  height: 450px;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 15px black;
          box-shadow: inset 0 0 15px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right bottom, from(#2e3238), to(#171717));
  background: linear-gradient(to bottom right, #2e3238, #171717);
}

.middleground .background-profile-picture {
  position: relative;
  height: 100%;
  right: 25vw;
}

.middleground .background-profile-picture img {
  position: absolute;
  margin: 0 10px 0 auto;
  height: 100%;
  width: auto;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.middleground .title-container {
  margin: auto;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.middleground .title-container .title {
  font-size: 3em;
  margin: auto;
}

.middleground .title-container .description {
  font-size: 1.5em;
  margin: auto;
}

.content {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b35000;
  font-family: sans-serif, Verdana;
}

.content .header {
  width: 50%;
  min-width: 500px;
  text-align: center;
  font-size: 2em;
  margin: 0 auto 10px;
}

.content .repo_home_preview {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
}

.content .repo_home_preview .repo_preview {
  background-color: #3c4044;
  margin: 0 15px;
  width: 250px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}

.content .repo_home_preview .repo_preview .image_container {
  height: auto;
  width: 40%;
  margin: 0 auto 5px auto;
}

.content .repo_home_preview .repo_preview .image_container img {
  width: 100%;
  height: auto;
}

.content .repo_home_preview .repo_preview .title {
  margin: auto;
  font-size: 1.3em;
  text-align: center;
}

.container {
  width: 100%;
}

.container .description {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #b35000;
  font-family: sans-serif, Verdana;
  text-align: center;
}

.item-container {
  margin: auto;
  max-width: 600px;
}

.item-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  text-align: initial;
  margin: auto;
  margin-bottom: 15px;
  background-color: #000000b3;
}

.item-container .item .icon-container {
  font-size: 1.1em;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
  width: 7em;
  text-align: center;
}

.item-container .item .icon-container img {
  margin: 0 auto 5px;
  height: 1.5em;
}

.item-container .item .item-link {
  font-size: 0.9em;
  word-break: break-all;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-container .item .item-link span,
.item-container .item .item-link a {
  margin: auto auto auto 0;
}

.item-container .item:last-of-type {
  margin-bottom: 0px;
}

.content:nth-child(odd) {
  -webkit-box-shadow: inset 0 0 5px black;
          box-shadow: inset 0 0 5px black;
  background: -webkit-gradient(linear, left top, right bottom, from(#2e3238), to(#171717));
  background: linear-gradient(to bottom right, #2e3238, #171717);
}

@media only screen and (max-width: 700px) {
  .middleground {
    height: 350px;
  }
  .middleground .title-container .title {
    font-size: 2em;
  }
  .middleground .title-container .description {
    font-size: 1.2em;
  }
  .middleground .background-profile-picture {
    right: 30vw;
  }
  .middleground .background-profile-picture img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .content {
    padding: 5px;
  }
  .content .header {
    font-size: 1.5em;
    min-width: 100%;
  }
  .content .repo_home_preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .repo_home_preview .repo_preview {
    margin-bottom: 10px;
    width: 200px;
  }
}
